<footer>
  <div class="footer-inner">
    <div class="our-features-box">
      <div class="container">
        <ul>
          <li>
            <div class="feature-box">
              <div class="icon-truck">
                <img src="/images/world-icon.png" alt="World&#039;s #1" />
              </div>
              <div class="content">
                <h6>World&#039;s #1</h6>
                <p>Largest Auto portal</p>
              </div>
            </div>
          </li>
          <li>
            <div class="feature-box">
              <div class="icon-truck">
                <img src="/images/car-sold-icon.png" alt="Car sold" />
              </div>
              <div class="content">
                <h6>Car sold</h6>
                <p>Every day</p>
              </div>
            </div>
          </li>
          <li>
            <div class="feature-box">
              <div class="icon-truck">
                <img src="/images/tag-icon.png" alt="Offers" />
              </div>
              <div class="content">
                <h6>Offers</h6>
                <p>Stay updated pay less</p>
              </div>
            </div>
          </li>
          <li>
            <div class="feature-box">
              <div class="icon-truck">
                <img src="/images/compare-icon.png" alt="Compare" />
              </div>
              <div class="content">
                <h6>Compare</h6>
                <p>Decode the right car</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-xs-12 col-lg-3">
          <div class="co-info">
            <div class="klbfooterwidget widget_text">
              <h4>Address</h4>
              <div class="textwidget">
                <address>
                  <div>789 Main rd, Anytown, CA 12345, USA</div>
                </address>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 col-lg-3">
          <div class="klbfooterwidget footer-column widget_nav_menu">
            <h4>Email Address</h4>
            <div class="textwidget">
              <address>
                <div><%= email %></div>
              </address>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 col-lg-3">
          <div class="klbfooterwidget footer-column widget_nav_menu">
            <h4>Phone Number</h4>
            <div class="textwidget">
              <address>
                <div><%= phone %></div>
              </address>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 col-lg-3">
          <div class="klbfooterwidget footer-column widget_nav_menu">
            <h4>Opening Hours</h4>
            <div class="textwidget">
              <address>
                <div>Mon - Sat : 9 a.m. to 6 p.m.</div>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="social">
            <ul>
              <li class="facebook">
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="instagram">
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 coppyright">
          © <%= new Date().getFullYear() %> Used Cars USA. All Rights Reserved.
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="payment-accept">
            <img src="/images/payment-1.png" alt="payment-image" />

            <img src="/images/payment-2.png" alt="payment-image" />

            <img src="/images/payment-3.png" alt="payment-image" />

            <img src="/images/payment-4.png" alt="payment-image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<a
  style="position: fixed; bottom: 20px; left: 20px"
  href="http://wa.me/<%= phone.replaceAll(' ','') %>"
>
  <img src="/whatsapp-icon.png" width="48" />
</a>
