<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <h2>About Us</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-container col2-left-layout">
  <div class="main container">
    <div class="col-main main-blog vc_col-sm-8 col-sm-push-2">
      <div id="main" class="blog-wrapper">
        <div id="primary" class="site-content">
          <div id="content" role="main">
            <article
              id="post-345"
              class="post-345 post type-post status-publish format-gallery has-post-thumbnail hentry category-slider tag-gallery tag-slider post_format-post-format-gallery blog_entry clearfix"
            >
              <div class="entry-content">
                <h1>About Used Cars USA</h1>
                <div class="klb-post">
                  <p>
                    Welcome to Used Cars USA, where customer satisfaction is our
                    top priority. As the proud owner of this automotive
                    business, Dustin Caleb, I invite you to explore the world of
                    affordable and reliable cars. At Cheap Used cars for sale
                    near me, we offer rates that are significantly lower than
                    those of other car firms, companies, or individuals,
                    ensuring that you get the best value for your money.
                  </p>
                  <p>
                    Our commitment to convenience and flexibility sets us apart.
                    With us, you have the opportunity to purchase your dream car
                    and pay for it monthly, making it easier for you to own the
                    vehicle you’ve always wanted. Worried about the cost of
                    shipping? Don’t be. We understand the concerns our customers
                    may have, and that’s why we offer assistance in shipping
                    your car to your desired location. Moreover, we go the extra
                    mile by ensuring that your car is delivered right to your
                    doorstep, eliminating the hassle of dealing with customs
                    duties. Rest assured, all our services are conducted legally
                    and in compliance with regulations.
                  </p>
                  <p>
                    As the world becomes increasingly technology-driven, we
                    embrace this progress and invite you to experience the
                    goodness of our services. Here’s what sets us apart:
                  </p>
                  <ol>
                    <li>
                      Premium Cars with Triple P (Premium Promotional Prices):
                      Our inventory features top-quality vehicles at prices that
                      will pleasantly surprise you. With our Triple P guarantee,
                      you can rest assured that you’re getting a premium car at
                      an unbeatable price.
                    </li>
                    <li>
                      Turnkey at Front Door Delivery: We understand that
                      convenience is key. That’s why we offer an easy and
                      hassle-free delivery process. Sit back and relax as we
                      bring your chosen car directly to your front door,
                      providing a seamless and stress-free experience.
                    </li>
                    <li>
                      We sell Only Ready-To-Drive Cars (with a guarantee
                      period): Quality and reliability are of utmost importance
                      to us. Every car we sell is thoroughly inspected to ensure
                      it is in excellent condition and ready to hit the road.
                      Additionally, we provide a guarantee period to give you
                      peace of mind with your purchase.
                    </li>
                    <li>
                      V.I.P. Membership: We believe in rewarding our loyal
                      customers. With our V.I.P. Membership, you gain access to
                      special membership discounts when purchasing your next
                      car(s). It’s our way of showing appreciation for your
                      trust and continued support.
                    </li>
                  </ol>
                  <p>
                    Brian Evakise, CEO of Used Cars USA, leads our dedicated
                    team, committed to making your car-buying dreams come true.
                    With prices lower than many other places in the world, we
                    invite you to visit us and discover the exceptional
                    offerings at Used Cars USA.
                  </p>
                  <p>
                    Experience the Used Cars USA difference today and embark on
                    an exciting journey toward owning your perfect car.
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-6">
      <div class="vc_column-inner klb_xs_vc_custom_1553068680117">
        <div class="wpb_wrapper">
          <div class="wpb_single_image wpb_content_element vc_align_left">
            <figure class="wpb_wrapper vc_figure">
              <div class="vc_single_image-wrapper vc_box_border_grey">
                <img
                  src="/images/speakers.png"
                  class="vc_single_image-img attachment-full"
                  decoding="async"
                  loading="lazy"
                  title="speakers"
                />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6">
      <div class="vc_column-inner klb_xs_vc_custom_1553068699201">
        <div class="wpb_wrapper">
          <div class="wpb_single_image wpb_content_element vc_align_left">
            <figure class="wpb_wrapper vc_figure">
              <div class="vc_single_image-wrapper vc_box_border_grey">
                <img
                  src="/images/schedule.png"
                  class="vc_single_image-img attachment-full"
                  decoding="async"
                  loading="lazy"
                  title="schedule"
                />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div
    data-vc-full-width="true"
    data-vc-full-width-init="false"
    class="vc_row wpb_row vc_row-fluid bg-bottom-left vc_custom_1601571478352 vc_row-has-fill"
  >
    <div
      class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-2 vc_col-lg-8 vc_col-md-offset-2 vc_col-md-8"
    >
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="testimonials-section">
            <div class="offer-slider parallax parallax-2">
              <ul class="bxslider">
                <li>
                  <div class="avatar">
                    <img
                      src="https://klbtheme.com/harrier/wp-content/uploads/2019/05/member1-114x114.png"
                      alt="Smith John"
                    />
                  </div>
                  <div class="testimonials" style="color: #ffffff">
                    I had been looking for an SUV for more than a year. From the
                    minute we walked in to usedcars-usa, they made our auto
                    purchase nothing short of pleasurable. They sincere interest
                    in your wants and needs and inventory make usedcars-usa the
                    ultimate dealership in the twin cities. check it out - you
                    won't be disappointed!
                  </div>
                  <div class="clients_author">
                    Smith John
                    <span style="color: #ffffff">Happy Customer</span>
                  </div>
                </li>
                <li>
                  <div class="avatar">
                    <img
                      src="https://klbtheme.com/harrier/wp-content/uploads/2019/05/member2-114x114.png"
                      alt="Sahara Anderson"
                    />
                  </div>
                  <div class="testimonials" style="color: #ffffff">
                    Thank you very much usedcars-use for making the purchase
                    very pleasant and easy. I was spared all the usual stories
                    and received courteous and professional treatment. The car
                    was in perfect condition inside and out, and the price was
                    fair. I'll be back!
                  </div>
                  <div class="clients_author">
                    Sahara Anderson
                    <span style="color: #ffffff">Happy Customer</span>
                  </div>
                </li>
                <li>
                  <div class="avatar">
                    <img
                      src="https://klbtheme.com/harrier/wp-content/uploads/2019/05/member3-114x114.png"
                      alt="Stephen Smith"
                    />
                  </div>
                  <div class="testimonials" style="color: #ffffff">
                    These guys are the best. this is what a car buying
                    experience should be. Great car, reasonable price, and a
                    willingness to make all the little things right. I won't buy
                    a car from anyone else. Thanks guys!
                  </div>
                  <div class="clients_author">
                    Stephen Smith
                    <span style="color: #ffffff">Happy Customer</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row-full-width vc_clearfix"></div>
</div>
