<section class="wpb-content-wrapper">
  <div
    data-vc-full-width="true"
    data-vc-full-width-init="false"
    data-vc-stretch-content="true"
    class="vc_row wpb_row vc_row-fluid vc_row-no-padding"
  >
    <div
      class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg vc_hidden-md vc_hidden-sm"
    >
      <div
        class="vc_column-inner"
        style="
          background-image: url('/images/slide-img.jpeg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        "
      >
        <div class="wpb_wrapper">
          <div class="search-car">
            <div class="section-filter">
              <div class="b-filter__inner bg-grey">
                <h2>Find your right car</h2>
                <div class="wpcm-vehicle-listings">
                  <div class="wpcm-vehicle-filters">
                    <form class="b-filter" action="/vehicles" method="get">
                      <div class="btn-group" style="width: 100%">
                        <div class="wpcm-filter wpcm-filter-make">
                          <select name="make" data-placeholder="Select Make">
                            <option value="0">Select Make</option>
                            <option value="75">Acura</option>
                            <option value="33">Audi</option>
                            <option value="96">BMW</option>
                            <option value="97">Chevrolet</option>
                            <option value="98">Hyundai</option>
                            <option value="99">Kia</option>
                            <option value="100">Mazda</option>
                            <option value="101">Mercedes-Benz</option>
                            <option value="102">Nissan</option>
                            <option value="103">Peugeot</option>
                            <option value="104">Toyota</option>
                            <option value="105">Volkwagen</option>
                          </select>
                        </div>
                      </div>
                      <div class="btn-group" style="width: 100%">
                        <div class="wpcm-filter wpcm-filter-model">
                          <select
                            name="model"
                            data-placeholder="Select Model"
                            disabled="disabled"
                          >
                            <option value="0">Select Make First</option>
                          </select>
                        </div>
                      </div>
                      <div class="btn-group" style="width: 100%">
                        <div class="wpcm-filter wpcm-filter-price">
                          <select name="price_to" data-placeholder="All">
                            <option value="0">Select Max Price</option>
                            <option value="500">&#36;500</option>
                            <option value="1000">&#36;1,000</option>
                            <option value="2000">&#36;2,000</option>
                            <option value="3000">&#36;3,000</option>
                            <option value="4000">&#36;4,000</option>
                            <option value="5000">&#36;5,000</option>
                            <option value="6000">&#36;6,000</option>
                            <option value="7000">&#36;7,000</option>
                            <option value="8000">&#36;8,000</option>
                            <option value="9000">&#36;9,000</option>
                            <option value="10000">&#36;10,000</option>
                            <option value="12500">&#36;12,500</option>
                            <option value="15000">&#36;15,000</option>
                            <option value="17500">&#36;17,500</option>
                            <option value="20000">&#36;20,000</option>
                            <option value="25000">&#36;25,000</option>
                            <option value="30000">&#36;30,000</option>
                            <option value="40000">&#36;40,000</option>
                            <option value="50000">&#36;50,000</option>
                            <option value="75000">&#36;75,000</option>
                            <option value="100000">&#36;100,000</option>
                          </select>
                        </div>
                      </div>
                      <div class="btn-group" style="width: 100%">
                        <div class="wpcm-filter wpcm-filter-frdate">
                          <select name="frdate_from" data-placeholder="All">
                            <option value="0">Select Min Year</option>
                            <option value="2024">2024</option>
                            <option value="2023">2023</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1985">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                            <option value="1982">1982</option>
                            <option value="1981">1981</option>
                            <option value="1980">1980</option>
                            <option value="1979">1979</option>
                            <option value="1978">1978</option>
                            <option value="1977">1977</option>
                            <option value="1976">1976</option>
                            <option value="1975">1975</option>
                            <option value="1974">1974</option>
                            <option value="1973">1973</option>
                            <option value="1972">1972</option>
                            <option value="1971">1971</option>
                            <option value="1970">1970</option>
                            <option value="1965">1965</option>
                            <option value="1960">1960</option>
                            <option value="1955">1955</option>
                            <option value="1950">1950</option>
                            <option value="1945">1945</option>
                            <option value="1940">1940</option>
                            <option value="1935">1935</option>
                            <option value="1930">1930</option>
                            <option value="1925">1925</option>
                            <option value="1920">1920</option>
                            <option value="1915">1915</option>
                            <option value="1910">1910</option>
                            <option value="1905">1905</option>
                            <option value="1900">1900</option>
                          </select>
                        </div>
                      </div>
                      <div class="btn-group" style="width: 100%">
                        <div class="wpcm-filter wpcm-filter-mileage">
                          <select name="mileage_to" data-placeholder="All">
                            <option value="0">Select Max Mileage</option>
                            <option value="2500">2,500 miles</option>
                            <option value="5000">5,000 miles</option>
                            <option value="7500">7,500 miles</option>
                            <option value="10000">10,000 miles</option>
                            <option value="25000">25,000 miles</option>
                            <option value="50000">50,000 miles</option>
                            <option value="100000">100,000 miles</option>
                            <option value="150000">150,000 miles</option>
                            <option value="200000">200,000 miles</option>
                          </select>
                        </div>
                      </div>
                      <div>
                        <input
                          type="hidden"
                          class="product_post_type_search"
                          name="post_type"
                          value="wpcm_vehicle"
                        />
                        <input
                          type="hidden"
                          class="car_search"
                          name="s"
                          value=""
                        />
                        <div class="b-filter__btns">
                          <button type="submit" class="btn btn-lg btn-primary">
                            Search Vehicle
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-xs">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <p class="rs-p-wp-fix"></p>
          <rs-module-wrap
            id="rev_slider_1_1_wrapper"
            data-source="gallery"
            style="
              visibility: hidden;
              background: transparent;
              padding: 0;
              margin: 0px auto;
              margin-top: 0;
              margin-bottom: 0;
            "
          >
            <rs-module id="rev_slider_1_1" data-version="6.6.20">
              <rs-slides style="overflow: hidden; position: absolute">
                <rs-slide
                  style="position: absolute"
                  data-key="rs-3"
                  data-title="Slide"
                  data-thumb="/images/slide-img.jpeg"
                  data-anim="adpr:false;"
                >
                  <img
                    src="https://klbtheme.com/harrier/wp-content/plugins/revslider/public/assets/assets/dummy.png"
                    alt=""
                    title="Home"
                    class="rev-slidebg tp-rs-img rs-lazyload"
                    data-lazyload="/images/slide-img.jpeg"
                    data-bg="p:left top;"
                    data-parallax="off"
                    data-no-retina
                  />
                  <rs-zone
                    id="rrzm_3"
                    class="rev_row_zone_middle"
                    style="z-index: 5"
                  >
                    <rs-row
                      id="slider-1-slide-3-layer-14"
                      data-type="row"
                      data-xy="xo:100px;y:m;"
                      data-text="l:22;a:inherit;"
                      data-cbreak="3"
                      data-rsp_bd="off"
                      data-frame_0="tp:600;"
                      data-frame_1="tp:600;sR:10;"
                      data-frame_999="o:0;tp:600;st:w;sR:8690;sA:9000;"
                      style="z-index: 5"
                    >
                      <rs-column
                        id="slider-1-slide-3-layer-15"
                        data-type="column"
                        data-text="l:22;a:inherit;"
                        data-vbility="t,t,t,f"
                        data-rsp_bd="off"
                        data-column="a:middle;"
                        data-padding="r:30,,,;l:30,15,15,15;"
                        data-frame_0="tp:600;"
                        data-frame_1="tp:600;"
                        data-frame_999="o:0;tp:600;st:w;sR:8690;sA:9000;"
                        style="z-index: 6; width: 100%"
                      >
                        <rs-layer
                          id="slider-1-slide-3-layer-25"
                          data-type="text"
                          data-rsp_ch="on"
                          data-xy=""
                          data-pos="r"
                          data-text="w:normal;l:22;a:inherit;"
                          data-vbility="t,t,t,f"
                          data-frame_0="tp:600;"
                          data-frame_1="tp:600;"
                          data-frame_999="o:0;tp:600;st:w;sR:8690;"
                          style="z-index: 7; font-family: 'Open Sans'"
                        >
                          <div class="search-car">
                            <div class="section-filter">
                              <div class="b-filter__inner bg-grey">
                                <h2>Find your right car</h2>
                                <div class="wpcm-vehicle-listings">
                                  <div class="wpcm-vehicle-filters">
                                    <form
                                      class="b-filter"
                                      action="/vehicles"
                                      method="get"
                                    >
                                      <div
                                        class="btn-group"
                                        style="width: 100%"
                                      >
                                        <div
                                          class="wpcm-filter wpcm-filter-make"
                                        >
                                          <select
                                            name="make"
                                            data-placeholder="Select Make"
                                          >
                                            <option value="0">
                                              Select Make
                                            </option>
                                            <option value="75">Acura</option>
                                            <option value="33">Audi</option>
                                            <option value="96">BMW</option>
                                            <option value="97">
                                              Chevrolet
                                            </option>
                                            <option value="98">Hyundai</option>
                                            <option value="99">Kia</option>
                                            <option value="100">Mazda</option>
                                            <option value="101">
                                              Mercedes-Benz
                                            </option>
                                            <option value="102">Nissan</option>
                                            <option value="103">Peugeot</option>
                                            <option value="104">Toyota</option>
                                            <option value="105">
                                              Volkwagen
                                            </option>
                                          </select>
                                        </div>
                                      </div>
                                      <div
                                        class="btn-group"
                                        style="width: 100%"
                                      >
                                        <div
                                          class="wpcm-filter wpcm-filter-model"
                                        >
                                          <select
                                            name="model"
                                            data-placeholder="Select Model"
                                            disabled="disabled"
                                          >
                                            <option value="0">
                                              Select Make First
                                            </option>
                                          </select>
                                        </div>
                                      </div>
                                      <div
                                        class="btn-group"
                                        style="width: 100%"
                                      >
                                        <div
                                          class="wpcm-filter wpcm-filter-price"
                                        >
                                          <select
                                            name="price_to"
                                            data-placeholder="All"
                                          >
                                            <option value="0">
                                              Select Max Price
                                            </option>
                                            <option value="500">
                                              &#36;500
                                            </option>
                                            <option value="1000">
                                              &#36;1,000
                                            </option>
                                            <option value="2000">
                                              &#36;2,000
                                            </option>
                                            <option value="3000">
                                              &#36;3,000
                                            </option>
                                            <option value="4000">
                                              &#36;4,000
                                            </option>
                                            <option value="5000">
                                              &#36;5,000
                                            </option>
                                            <option value="6000">
                                              &#36;6,000
                                            </option>
                                            <option value="7000">
                                              &#36;7,000
                                            </option>
                                            <option value="8000">
                                              &#36;8,000
                                            </option>
                                            <option value="9000">
                                              &#36;9,000
                                            </option>
                                            <option value="10000">
                                              &#36;10,000
                                            </option>
                                            <option value="12500">
                                              &#36;12,500
                                            </option>
                                            <option value="15000">
                                              &#36;15,000
                                            </option>
                                            <option value="17500">
                                              &#36;17,500
                                            </option>
                                            <option value="20000">
                                              &#36;20,000
                                            </option>
                                            <option value="25000">
                                              &#36;25,000
                                            </option>
                                            <option value="30000">
                                              &#36;30,000
                                            </option>
                                            <option value="40000">
                                              &#36;40,000
                                            </option>
                                            <option value="50000">
                                              &#36;50,000
                                            </option>
                                            <option value="75000">
                                              &#36;75,000
                                            </option>
                                            <option value="100000">
                                              &#36;100,000
                                            </option>
                                          </select>
                                        </div>
                                      </div>
                                      <div
                                        class="btn-group"
                                        style="width: 100%"
                                      >
                                        <div
                                          class="wpcm-filter wpcm-filter-frdate"
                                        >
                                          <select
                                            name="frdate_from"
                                            data-placeholder="All"
                                          >
                                            <option value="0">
                                              Select Min Year
                                            </option>
                                            <option value="2024">2024</option>
                                            <option value="2023">2023</option>
                                            <option value="2022">2022</option>
                                            <option value="2021">2021</option>
                                            <option value="2020">2020</option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="2011">2011</option>
                                            <option value="2010">2010</option>
                                            <option value="2009">2009</option>
                                            <option value="2008">2008</option>
                                            <option value="2007">2007</option>
                                            <option value="2006">2006</option>
                                            <option value="2005">2005</option>
                                            <option value="2004">2004</option>
                                            <option value="2003">2003</option>
                                            <option value="2002">2002</option>
                                            <option value="2001">2001</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                            <option value="1997">1997</option>
                                            <option value="1996">1996</option>
                                            <option value="1995">1995</option>
                                            <option value="1994">1994</option>
                                            <option value="1993">1993</option>
                                            <option value="1992">1992</option>
                                            <option value="1991">1991</option>
                                            <option value="1990">1990</option>
                                            <option value="1989">1989</option>
                                            <option value="1988">1988</option>
                                            <option value="1987">1987</option>
                                            <option value="1986">1986</option>
                                            <option value="1985">1985</option>
                                            <option value="1984">1984</option>
                                            <option value="1983">1983</option>
                                            <option value="1982">1982</option>
                                            <option value="1981">1981</option>
                                            <option value="1980">1980</option>
                                            <option value="1979">1979</option>
                                            <option value="1978">1978</option>
                                            <option value="1977">1977</option>
                                            <option value="1976">1976</option>
                                            <option value="1975">1975</option>
                                            <option value="1974">1974</option>
                                            <option value="1973">1973</option>
                                            <option value="1972">1972</option>
                                            <option value="1971">1971</option>
                                            <option value="1970">1970</option>
                                            <option value="1965">1965</option>
                                            <option value="1960">1960</option>
                                            <option value="1955">1955</option>
                                            <option value="1950">1950</option>
                                            <option value="1945">1945</option>
                                            <option value="1940">1940</option>
                                            <option value="1935">1935</option>
                                            <option value="1930">1930</option>
                                            <option value="1925">1925</option>
                                            <option value="1920">1920</option>
                                            <option value="1915">1915</option>
                                            <option value="1910">1910</option>
                                            <option value="1905">1905</option>
                                            <option value="1900">1900</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div
                                        class="btn-group"
                                        style="width: 100%"
                                      >
                                        <div
                                          class="wpcm-filter wpcm-filter-mileage"
                                        >
                                          <select
                                            name="mileage_to"
                                            data-placeholder="All"
                                          >
                                            <option value="0">
                                              Select Max Mileage
                                            </option>
                                            <option value="2500">
                                              2,500 miles
                                            </option>
                                            <option value="5000">
                                              5,000 miles
                                            </option>
                                            <option value="7500">
                                              7,500 miles
                                            </option>
                                            <option value="10000">
                                              10,000 miles
                                            </option>
                                            <option value="25000">
                                              25,000 miles
                                            </option>
                                            <option value="50000">
                                              50,000 miles
                                            </option>
                                            <option value="100000">
                                              100,000 miles
                                            </option>
                                            <option value="150000">
                                              150,000 miles
                                            </option>
                                            <option value="200000">
                                              200,000 miles
                                            </option>
                                          </select>
                                        </div>
                                      </div>
                                      <div>
                                        <input
                                          type="hidden"
                                          class="product_post_type_search"
                                          name="post_type"
                                          value="wpcm_vehicle"
                                        />
                                        <input
                                          type="hidden"
                                          class="car_search"
                                          name="s"
                                          value=""
                                        />
                                        <div class="b-filter__btns">
                                          <button
                                            type="submit"
                                            class="btn btn-lg btn-primary"
                                          >
                                            Search Vehicle
                                          </button>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </rs-layer>
                      </rs-column>
                      <rs-column
                        id="slider-1-slide-3-layer-16"
                        data-type="column"
                        data-xy="xo:930px;"
                        data-text="l:22;a:inherit;"
                        data-rsp_bd="off"
                        data-column="w:66.67%;a:middle;"
                        data-padding="l:30;"
                        data-frame_0="tp:600;"
                        data-frame_1="tp:600;"
                        data-frame_999="o:0;tp:600;st:w;sR:8690;sA:9000;"
                        style="z-index: 8; width: 100%"
                      >
                        <rs-layer
                          id="slider-1-slide-3-layer-17"
                          data-type="text"
                          data-color="#50b2fc"
                          data-rsp_ch="on"
                          data-xy=""
                          data-pos="r"
                          data-text="w:normal;s:24;l:24;a:inherit;"
                          data-margin="b:15px;"
                          data-frame_0="tp:600;"
                          data-frame_1="tp:600;"
                          data-frame_999="o:0;tp:600;st:w;sR:8690;"
                          style="
                            z-index: 9;
                            font-family: 'Saira Condensed';
                            letter-spacing: 1px;
                            font-weight: 700;
                          "
                          >TOP BRANDS
                        </rs-layer>
                        <rs-layer
                          id="slider-1-slide-3-layer-19"
                          data-type="text"
                          data-rsp_ch="on"
                          data-xy=""
                          data-pos="r"
                          data-text="w:normal;s:52,52,52,31;l:52,52,52,35;a:inherit;"
                          data-dim="w:100%;"
                          data-frame_0="tp:600;"
                          data-frame_1="tp:600;"
                          data-frame_999="o:0;tp:600;st:w;sR:8690;"
                          style="
                            z-index: 10;
                            font-family: 'Saira Condensed';
                            letter-spacing: 1px;
                          "
                          >MODERN-CLASSIC
                        </rs-layer>
                        <rs-layer
                          id="slider-1-slide-3-layer-20"
                          data-type="text"
                          data-rsp_ch="on"
                          data-xy=""
                          data-pos="r"
                          data-text="w:normal;s:72,72,72,35;l:72,72,72,35;fw:600;a:inherit;"
                          data-margin="b:10px;"
                          data-frame_0="tp:600;"
                          data-frame_1="tp:600;"
                          data-frame_999="o:0;tp:600;st:w;sR:8690;"
                          style="
                            z-index: 11;
                            font-family: 'Saira Condensed';
                            letter-spacing: 1px;
                          "
                          >DECORATIVE
                        </rs-layer>
                        <rs-layer
                          id="slider-1-slide-3-layer-21"
                          data-type="text"
                          data-rsp_ch="on"
                          data-xy=""
                          data-pos="r"
                          data-text="w:normal;s:22;l:24;fw:300;a:inherit;"
                          data-dim="w:100%;"
                          data-frame_0="tp:600;"
                          data-frame_1="tp:600;"
                          data-frame_999="o:0;tp:600;st:w;sR:8690;"
                          style="
                            z-index: 12;
                            font-family: 'Saira Condensed';
                            letter-spacing: 1px;
                          "
                          >GET 40% OFF ON SELECTED ITEMS.
                        </rs-layer>
                      </rs-column>
                    </rs-row>
                  </rs-zone>
                </rs-slide>
              </rs-slides>
            </rs-module>
            <script>
              setREVStartSize({
                c: "rev_slider_1_1",
                rl: [1240, 1024, 768, 480],
                el: [750, 600, 500, 400],
                gw: [1240, 1024, 778, 480],
                gh: [750, 600, 500, 400],
                type: "standard",
                justify: "",
                layout: "fullwidth",
                mh: "0",
              });
              if (
                window.RS_MODULES !== undefined &&
                window.RS_MODULES.modules !== undefined &&
                window.RS_MODULES.modules["revslider11"] !== undefined
              ) {
                window.RS_MODULES.modules["revslider11"].once = false;
                window.revapi1 = undefined;
                if (window.RS_MODULES.checkMinimal !== undefined)
                  window.RS_MODULES.checkMinimal();
              }
            </script>
          </rs-module-wrap>
          <!-- END REVOLUTION SLIDER -->
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row-full-width vc_clearfix"></div>
  <div class="container">
    <div class="vc_row wpb_row vc_row-fluid">
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner klb_xs_vc_custom_1559209478089">
          <div class="wpb_wrapper">
            <div class="top-cate">
              <div class="featured-pro">
                <div>
                  <div class="slider-items-products">
                    <div class="new_title" style="background: #fff">
                      <h2 style="color: #fff; background: #23292e">
                        Browse By Car Type
                      </h2>
                    </div>
                    <div
                      id="top-categories"
                      class="product-flexslider hidden-buttons"
                    >
                      <div class="slider-items slider-width-col4 products-grid">
                        <div class="item">
                          <form
                            class="klb-car-type"
                            action="/vehicles"
                            method="get"
                          >
                            <div class="pro-img">
                              <img
                                src="https://klbtheme.com/harrier/wp-content/uploads/2019/03/car-type7.png"
                                alt="SUV"
                              />
                              <div class="pro-info">SUV</div>
                            </div>
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="post_type"
                              value="body_type"
                            />
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="body_style"
                              value="SUV"
                            />
                            <input
                              type="hidden"
                              class="car_search"
                              name="s"
                              value=""
                            />
                            <input type="submit" value="Deneme" />
                          </form>
                        </div>
                        <div class="item">
                          <form
                            class="klb-car-type"
                            action="/vehicles"
                            method="get"
                          >
                            <div class="pro-img">
                              <img
                                src="https://klbtheme.com/harrier/wp-content/uploads/2019/03/car-type1.png"
                                alt="Sedan"
                              />
                              <div class="pro-info">Sedan</div>
                            </div>
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="post_type"
                              value="body_type"
                            />
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="body_style"
                              value="Sedan"
                            />
                            <input
                              type="hidden"
                              class="car_search"
                              name="s"
                              value=""
                            />
                            <input type="submit" value="Deneme" />
                          </form>
                        </div>
                        <div class="item">
                          <form
                            class="klb-car-type"
                            action="/vehicles"
                            method="get"
                          >
                            <div class="pro-img">
                              <img
                                src="https://klbtheme.com/harrier/wp-content/uploads/2019/03/car-type2.png"
                                alt="Truck"
                              />
                              <div class="pro-info">Truck</div>
                            </div>
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="post_type"
                              value="body_type"
                            />
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="body_style"
                              value="Truck"
                            />
                            <input
                              type="hidden"
                              class="car_search"
                              name="s"
                              value=""
                            />
                            <input type="submit" value="Deneme" />
                          </form>
                        </div>
                        <div class="item">
                          <form
                            class="klb-car-type"
                            action="/vehicles"
                            method="get"
                          >
                            <div class="pro-img">
                              <img
                                src="https://klbtheme.com/harrier/wp-content/uploads/2019/03/car-type3.png"
                                alt="Convertible"
                              />
                              <div class="pro-info">Convertible</div>
                            </div>
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="post_type"
                              value="body_type"
                            />
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="body_style"
                              value="Convertible"
                            />
                            <input
                              type="hidden"
                              class="car_search"
                              name="s"
                              value=""
                            />
                            <input type="submit" value="Deneme" />
                          </form>
                        </div>
                        <div class="item">
                          <form
                            class="klb-car-type"
                            action="/vehicles"
                            method="get"
                          >
                            <div class="pro-img">
                              <img
                                src="https://klbtheme.com/harrier/wp-content/uploads/2019/03/car-type5.png"
                                alt="Hybrid"
                              />
                              <div class="pro-info">Hybrid</div>
                            </div>
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="post_type"
                              value="body_type"
                            />
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="body_style"
                              value="Hybrid"
                            />
                            <input
                              type="hidden"
                              class="car_search"
                              name="s"
                              value=""
                            />
                            <input type="submit" value="Deneme" />
                          </form>
                        </div>
                        <div class="item">
                          <form
                            class="klb-car-type"
                            action="/vehicles"
                            method="get"
                          >
                            <div class="pro-img">
                              <img
                                src="https://klbtheme.com/harrier/wp-content/uploads/2019/03/car-type9.png"
                                alt="Hatchback"
                              />
                              <div class="pro-info">Hatchback</div>
                            </div>
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="post_type"
                              value="body_type"
                            />
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="body_style"
                              value="Hatchback"
                            />
                            <input
                              type="hidden"
                              class="car_search"
                              name="s"
                              value=""
                            />
                            <input type="submit" value="Deneme" />
                          </form>
                        </div>
                        <div class="item">
                          <form
                            class="klb-car-type"
                            action="/vehicles"
                            method="get"
                          >
                            <div class="pro-img">
                              <img
                                src="https://klbtheme.com/harrier/wp-content/uploads/2019/03/car-type6.png"
                                alt="Coupe"
                              />
                              <div class="pro-info">Coupe</div>
                            </div>
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="post_type"
                              value="body_type"
                            />
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="body_style"
                              value="Coupe"
                            />
                            <input
                              type="hidden"
                              class="car_search"
                              name="s"
                              value=""
                            />
                            <input type="submit" value="Deneme" />
                          </form>
                        </div>
                        <div class="item">
                          <form
                            class="klb-car-type"
                            action="/vehicles"
                            method="get"
                          >
                            <div class="pro-img">
                              <img
                                src="https://klbtheme.com/harrier/wp-content/uploads/2019/03/car-type8.png"
                                alt="Wagon"
                              />
                              <div class="pro-info">Wagon</div>
                            </div>
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="post_type"
                              value="body_type"
                            />
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="body_style"
                              value="Wagon"
                            />
                            <input
                              type="hidden"
                              class="car_search"
                              name="s"
                              value=""
                            />
                            <input type="submit" value="Deneme" />
                          </form>
                        </div>
                        <div class="item">
                          <form
                            class="klb-car-type"
                            action="/vehicles"
                            method="get"
                          >
                            <div class="pro-img">
                              <img
                                src="https://klbtheme.com/harrier/wp-content/uploads/2019/03/car-type10.png"
                                alt="Luxury"
                              />
                              <div class="pro-info">Luxury</div>
                            </div>
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="post_type"
                              value="body_type"
                            />
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="body_style"
                              value="Luxury"
                            />
                            <input
                              type="hidden"
                              class="car_search"
                              name="s"
                              value=""
                            />
                            <input type="submit" value="Deneme" />
                          </form>
                        </div>
                        <div class="item">
                          <form
                            class="klb-car-type"
                            action="/vehicles"
                            method="get"
                          >
                            <div class="pro-img">
                              <img
                                src="https://klbtheme.com/harrier/wp-content/uploads/2019/03/car-type12.png"
                                alt="Pickup"
                              />
                              <div class="pro-info">Pickup</div>
                            </div>
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="post_type"
                              value="body_type"
                            />
                            <input
                              type="hidden"
                              class="product_post_type_search"
                              name="body_style"
                              value="Pickup"
                            />
                            <input
                              type="hidden"
                              class="car_search"
                              name="s"
                              value=""
                            />
                            <input type="submit" value="Deneme" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="vc_row wpb_row vc_row-fluid">
      <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner klb_xs_vc_custom_1553068680117">
          <div class="wpb_wrapper">
            <div class="wpb_single_image wpb_content_element vc_align_left">
              <figure class="wpb_wrapper vc_figure">
                <div class="vc_single_image-wrapper vc_box_border_grey">
                  <img
                    src="/images/speakers.png"
                    class="vc_single_image-img attachment-full"
                    decoding="async"
                    loading="lazy"
                    title="speakers"
                  />
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner klb_xs_vc_custom_1553068699201">
          <div class="wpb_wrapper">
            <div class="wpb_single_image wpb_content_element vc_align_left">
              <figure class="wpb_wrapper vc_figure">
                <div class="vc_single_image-wrapper vc_box_border_grey">
                  <img
                    src="/images/schedule.png"
                    class="vc_single_image-img attachment-full"
                    decoding="async"
                    loading="lazy"
                    title="schedule"
                  />
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container">
    <div class="vc_row wpb_row vc_row-fluid">
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div
          class="vc_column-inner vc_custom_1558652083306 klb_xs_vc_custom_1558652083309"
        >
          <div class="wpb_wrapper">
            <div class="hot_deals slider-items-products">
              <div class="new_title" style="background: #e5e5e5">
                <h2 style="color: #ffffff; background: #50b2fc">
                  BEST SELLER CARS
                </h2>
              </div>
              <div class="hot_deals_klb product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col4 products-grid">
                  <% featured.forEach(item =>{ %>
                  <div class="item">
                    <%- include('./partials/card', {item}) %>
                  </div>
                  <% }) %>
                </div>
              </div>
            </div>
            <div class="loader-image" style="display: none"></div>
            <div class="ajaxphp-results"></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="box-additional">
    <div class="related-pro container">
      <div class="slider-items-products">
        <div class="new_title center">
          <h2>Best Sellers</h2>
        </div>
        <div id="related-slider" class="product-flexslider hidden-buttons">
          <div
            class="slider-items slider-width-col4 products-grid owl-carousel owl-theme"
            style="opacity: 1; display: block"
          >
            <div class="owl-wrapper-outer">
              <div class="owl-wrapper">
                <% featured.forEach(item =>{ %>
                <div class="owl-item" style="width: 258px; min-width: 258px">
                  <div class="item">
                    <%- include('./partials/card', {item}) %>
                  </div>
                </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div
      data-vc-full-width="true"
      data-vc-full-width-init="false"
      class="vc_row wpb_row vc_row-fluid bg-bottom-left vc_custom_1601571478352 vc_row-has-fill"
    >
      <div
        class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-2 vc_col-lg-8 vc_col-md-offset-2 vc_col-md-8"
      >
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <div class="testimonials-section">
              <div class="offer-slider parallax parallax-2">
                <ul class="bxslider">
                  <li>
                    <div class="avatar">
                      <img
                        src="https://klbtheme.com/harrier/wp-content/uploads/2019/05/member1-114x114.png"
                        alt="Smith John"
                      />
                    </div>
                    <div class="testimonials" style="color: #ffffff">
                      I had been looking for an SUV for more than a year. From
                      the minute we walked in to usedcars-usa, they made our
                      auto purchase nothing short of pleasurable. They sincere
                      interest in your wants and needs and inventory make
                      usedcars-usa the ultimate dealership in the twin cities.
                      check it out - you won't be disappointed!
                    </div>
                    <div class="clients_author">
                      Smith John
                      <span style="color: #ffffff">Happy Customer</span>
                    </div>
                  </li>
                  <li>
                    <div class="avatar">
                      <img
                        src="https://klbtheme.com/harrier/wp-content/uploads/2019/05/member2-114x114.png"
                        alt="Sahara Anderson"
                      />
                    </div>
                    <div class="testimonials" style="color: #ffffff">
                      Thank you very much usedcars-use for making the purchase
                      very pleasant and easy. I was spared all the usual stories
                      and received courteous and professional treatment. The car
                      was in perfect condition inside and out, and the price was
                      fair. I'll be back!
                    </div>
                    <div class="clients_author">
                      Sahara Anderson
                      <span style="color: #ffffff">Happy Customer</span>
                    </div>
                  </li>
                  <li>
                    <div class="avatar">
                      <img
                        src="https://klbtheme.com/harrier/wp-content/uploads/2019/05/member3-114x114.png"
                        alt="Stephen Smith"
                      />
                    </div>
                    <div class="testimonials" style="color: #ffffff">
                      These guys are the best. this is what a car buying
                      experience should be. Great car, reasonable price, and a
                      willingness to make all the little things right. I won't
                      buy a car from anyone else. Thanks guys!
                    </div>
                    <div class="clients_author">
                      Stephen Smith
                      <span style="color: #ffffff">Happy Customer</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vc_row-full-width vc_clearfix"></div>
  </div>
</section>
