<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <h2>Payment Terms</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-container col2-left-layout">
  <div class="main container">
    <div class="col-main main-blog vc_col-sm-8 col-sm-push-2">
      <div id="main" class="blog-wrapper">
        <div id="primary" class="site-content">
          <div id="content" role="main">
            <article
              id="post-345"
              class="post-345 post type-post status-publish format-gallery has-post-thumbnail hentry category-slider tag-gallery tag-slider post_format-post-format-gallery blog_entry clearfix"
            >
              <div class="entry-content">
                <h2>Payment Terms</h2>

                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <strong>1. Payment Methods</strong>
                </p>
                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  We accept the following methods of payment:
                </p>
                <ul
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <li>CashApp</li>
                  <li>Zelle</li>
                  <li>ApplePay</li>
                  <li>Google Py</li>
                  <li>PayPal</li>
                  <li>Bank Transfers</li>
                  <li>Cryptocurrencies</li>
                  <li>Cash (in-store purchases only)</li>
                </ul>
                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <strong>2. Payment Terms</strong>
                </p>
                <ul
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <li>
                    <strong>Due Date</strong>: Payment is due at the time of
                    purchase unless otherwise agreed upon in writing.
                  </li>
                  <li>
                    <strong>Invoices</strong>: For invoiced transactions,
                    payment is due on the date specified on the invoice.
                  </li>
                </ul>
                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <strong>3. Refunds and Returns</strong>
                </p>
                <ul
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <li>
                    <strong>Product Returns</strong>: Products can be returned
                    within 30 days of purchase for a full refund, provided they
                    are in original condition.
                  </li>
                  <li>
                    <strong>Service Refunds</strong>: Refunds for services will
                    be evaluated on a case-by-case basis. Please contact
                    customer support for assistance.
                  </li>
                  <li>
                    <strong>Non-Refundable Fees</strong>: Certain fees, such as
                    customization fees, are non-refundable.
                  </li>
                </ul>
                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <strong>4. Disputes</strong>
                </p>
                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  If you believe there is an error in billing, please contact
                  our billing department within 15 days of receiving the
                  invoice. We will investigate and resolve any disputes
                  promptly.
                </p>
                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <strong>6. Security</strong>
                </p>
                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  Your payment information is processed securely. We do not
                  store credit card details and all transactions are encrypted
                  using SSL technology.
                </p>
                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <strong>7. Contact Information</strong>
                </p>
                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  For any questions or concerns regarding our payment policy,
                  please contact us at:
                </p>
                <ul
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <li>
                    Email: <a rel="noreferrer">billing@usedcars-usa.com</a>
                  </li>
                  <li>Phone: +1 800 789 0000</li>
                  <li>Address: 789 Main rd, Anytown, CA 12345, USA</li>
                </ul>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
