<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <h2>Shipping & Delivery</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-container col2-left-layout">
  <div class="main container">
    <div class="col-main main-blog vc_col-sm-8 col-sm-push-2">
      <div id="main" class="blog-wrapper">
        <div id="primary" class="site-content">
          <div id="content" role="main">
            <article
              id="post-345"
              class="post-345 post type-post status-publish format-gallery has-post-thumbnail hentry category-slider tag-gallery tag-slider post_format-post-format-gallery blog_entry clearfix"
            >
              <div class="entry-content">
                <h2>Shipping and Delivery Policy</h2>

                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  Thank you for shopping with Used Cars USA. We strive to ensure
                  that your order is delivered to you in a timely manner. Please
                  read our shipping and delivery policy carefully to understand
                  how we process and ship your orders.
                </p>
                <h5
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  1. Order Processing
                </h5>
                <ul
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <li>
                    <strong>Processing Time</strong>: All orders are processed
                    within 1-2 business days. Orders are not processed or
                    shipped on weekends or holidays.
                  </li>
                  <li>
                    <strong>Order Confirmation</strong>: Once your order is
                    placed, you will receive an order confirmation email. Please
                    review your order details and contact us immediately if
                    there are any errors.
                  </li>
                </ul>
                <h5
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  2. Shipping Methods and Delivery Times
                </h5>
                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  We offer the following shipping options:
                </p>
                <ul
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <li>
                    <strong>Standard Shipping</strong>: Delivered within 5-7
                    business days.
                  </li>
                  <li>
                    <strong>Expedited Shipping</strong>: Delivered within 2-3
                    business days.
                  </li>
                  <li>
                    <strong>Overnight Shipping</strong>: Delivered within 1
                    business day.
                  </li>
                </ul>
                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  Delivery times are estimates and may vary depending on your
                  location and circumstances beyond our control.
                </p>
                <h5
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  3. Shipping Costs
                </h5>
                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  Shipping costs are calculated based on the shipping method
                  selected and the destination of the order. Shipping costs will
                  be displayed in your invoice before you complete your
                  purchase.
                </p>
                <h5
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  4. International Shipping
                </h5>
                <ul
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <li>
                    <strong>Availability</strong>: We ship to select
                    international destinations. Please check the list of
                    countries we ship to at checkout.
                  </li>
                  <li>
                    <strong>Customs, Duties, and Taxes</strong>: International
                    orders may be subject to customs fees, import duties, and
                    taxes, which are the responsibility of the recipient. These
                    charges vary by country and are not included in the item
                    price or shipping cost.
                  </li>
                </ul>
                <h5
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  5. Order Tracking
                </h5>
                <ul
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <li>
                    <strong>Tracking Information</strong>: Once your order is
                    shipped, you will receive a shipping confirmation email with
                    a tracking number. You can track your order using the link
                    provided in the email.
                  </li>
                  <li>
                    <strong>Carrier</strong>: We use private shipping companies
                    for all our shipping needs. You can also track your order
                    directly on the carrier’s website using the tracking number
                    provided.
                  </li>
                </ul>
                <h5
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  6. Delivery Issues
                </h5>
                <ul
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <li>
                    <strong>Incorrect Address</strong>: Please ensure that the
                    shipping address is correct at the time of checkout. We are
                    not responsible for orders delivered to an incorrect address
                    provided by the customer.
                  </li>
                  <li>
                    <strong>Lost or Stolen Items</strong>: If your package is
                    lost or stolen, please contact us at
                    &nbsp;info@usedcars-usa.com immediately. We will work with
                    the carrier to investigate and resolve the issue.
                  </li>
                  <li>
                    <strong>Delayed Delivery</strong>: In rare cases, delivery
                    may be delayed due to circumstances beyond our control
                    (e.g., weather conditions, carrier delays). We will do our
                    best to keep you informed of any delays.
                  </li>
                </ul>
                <h5
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  7. Contact Us
                </h5>
                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  If you have any questions or concerns about your order, please
                  contact our customer service team:
                </p>
                <ul
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  <li><strong>Email</strong>: info@usedcars-usa.com</li>
                  <li><strong>Phone</strong>: +1 800 789 0000</li>
                  <li>
                    <strong>Business Hours</strong>: Mon - Sat : 9 a.m. to 6
                    p.m.
                  </li>
                </ul>
                <p
                  style="
                    -webkit-text-stroke-width: 0px;
                    caret-color: rgb(0, 0, 0);
                    color: rgb(0, 0, 0);
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 400;
                    letter-spacing: normal;
                    orphans: auto;
                    text-align: start;
                    text-decoration: none;
                    text-indent: 0px;
                    text-transform: none;
                    white-space: normal;
                    widows: auto;
                    word-spacing: 0px;
                  "
                >
                  We appreciate your business and are committed to providing you
                  with an excellent shopping experience. Thank you for choosing
                  Used Cars USA.
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
